@model  Movies.WebUI.Models.TheatersListViewModel
@{
    ViewBag.Title = "Theaters";
}
@foreach (var t in Model.Theaters)
{
    <div>
        <h3>@t.TheaterName</h3>
        @t.description
        <h4>@t.State.ToString</h4>
    </div>
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>